body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7f9;
    color: #333;
    margin: 0;
    text-align: justify;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 40px 20%;
    font-size: 20px;
}

h1, h2, h3 {
    color: #0066cc;
    margin-bottom: 15px;
}

p {
    line-height: 1.6;
    margin: 20px 0;
}

/* Container to keep content centered */
#content-section {
    background-color: inherit;
}

/* Form Styles */
form {
    background-color: inherit;
    margin: 0 auto;
    width: 100%;
}

.form_container_fixed_header{
    background-color: inherit;

}

.header_label {
    display: inline-block;
    justify-content: center;
    width: max-content;
    transform: rotate(200deg) translate(-100%);
    font-size: 18px;
    white-space: nowrap;
    overflow: visible;
    writing-mode: vertical-rl;
    margin-left: 40px;
}

.header_container{
    background-color: inherit;
    height:250px;
    position:sticky;
    top:0;
    z-index:2;
    border-bottom: 2px solid black;
    padding: 20px 0;
}

.experiment-container {
    background-color: inherit;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
  height: calc(100% - 40px*2); /* Ensures the container takes up all available space */
}

.sliders-container {
    display: inline-block;
    text-align: center;
}

.slider{
    width:600px;
}

.label{
    justify-self:left;
}

input[type="text"], input[type="number"], textarea, select {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

button {
    background-color: #0066cc;
    color: white;
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform effect */
    width: fit-content;
}

button:hover {
    background-color: #004d99;
    transform: scale(1.05); /* Slightly enlarge on hover */
}

input[type="range"] {
    margin: 10px 0;
    appearance: none;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
}

/* Track Counter */
.track-counter {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #0066cc;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
}

/* Description Overlay */
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-justify: center;
    padding: 40px 20%;
    backdrop-filter: blur(12px);
    overflow-y: auto;
    font-size: 20px;
}

.spacer {
  flex-grow: 1; /* Takes up the remaining space */
}

input[type="radio"] {
  border-radius: 50%;
  border: 2px solid #999;
  transition: 0.2s all linear;
  position: relative;
    transform: scale(1.3);
}

input[type="radio"]:checked {
  border: 6px solid black;
  outline: unset !important;
}