body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7f9;
    color: #333;
    margin: 0;
    text-align: justify;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 40px 15%;
    font-size: 20px;
}

h1, h2, h3 {
    color: #0066cc;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}


/* Adjust font sizes for non-desktop (mobile/tablet) */
@media (max-width: 1023px) {
    body {
        font-size: 16px; /* Smaller font size for non-desktop */
        padding: 20px 5%;
    }

    h1, h2, h3 {
        font-size: 24px; /* Smaller font size for headers on mobile/tablet */
    }
}

p {
    line-height: 1.6;
    margin: 20px 0;
}

/* Container to keep content centered */
#content-section {
    background-color: inherit;
}

/* Form Styles */
form {
    background-color: inherit;
    margin: 0 auto;
    width: 100%;
}

.form_container_fixed_header{
    background-color: inherit;

}

.header_label {
    display: inline-block;
    justify-content: center;
    width: inherit;
    transform: rotate(200deg) translate(-100%);
    font-size: 18px;
    white-space: nowrap;
    overflow: visible;
    writing-mode: vertical-rl;
    margin-left: 40px;
}

@media (max-width: 1023px) {
    .header_label {
        font-size: 14px; /* Smaller font size for non-desktop */
	transform: rotate(180deg);
	margin: 0;
}
}

.header_container{
    height:fit-content;
    position:sticky;
    top:0;
    z-index:2;
    background-color: #f4f7f9;
    border-bottom: 2px solid black;
    padding: 20px 0;
}

.experiment-container {
    background-color: inherit;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
  height: calc(100vh - 40px*2); /* Ensures the container takes up all available space */
}

#likert_question_track{
    background-color: inherit;
}
.sliders-container {
    display: inline-block;
    text-align: center;
    min-width: 900px;
}

.slider{
    width:600px;
}

.label{
    justify-self:left;
    margin: auto 0;
}

input[type="text"], input[type="number"], textarea, select {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

button {
    background-color: #0066cc;
    color: white;
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform effect */
    width: fit-content;
}

@media (max-width: 1023px) {
    input[type="text"], input[type="number"], textarea, select {
          font-size: 16px;
	}
    button {
	  font-size:16px;
	}
}

button:not(:disabled):hover {
    background-color: #004d99;
    transform: scale(1.05); /* Slightly enlarge on hover */
}

button:disabled {
    background-color: grey;
    color: #fff; /* Optionally, change the text color for contrast */
    cursor: not-allowed; /* Change the cursor to indicate it's disabled */
    transform: none; /* Remove any transform effects */
}

input[type="range"] {
    -webkit-appearance: none;
    margin: 10px 0;
    appearance: none;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    background-image: linear-gradient(#9d9d9d, #9d9d9d);
    background-size: 0% 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 17px;
  width: 17px;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #000000;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #000000;
}

/* Track Counter */
.track-counter {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #0066cc;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
}

/* Description Overlay */
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    align-items: center;
    flex-direction: column;
    padding: 40px 20%;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    overflow-y: auto;
    font-size: 20px;
    flex-direction: column; /* Arrange items in a column */
}

#descriptionOverlay {
        justify-content: center;
        background: rgba(0, 0, 0, 0.7);
        color: white;
}

#questionnaireOverlay{
        height: auto;
        justify-content: flex-start; /* Align items to the top */
        background-color: rgba(245, 248, 250, 0.6);
}

#questionnaireOverlay .header_container{
    position: relative;
}
#post_experiment_setquestion1 .header_container{
    position: relative;
}
#questions-containerwho5 .header_container{
    position: relative;
}

.spacer {
  flex-grow: 1; /* Takes up the remaining space */
}

input[type="radio"] {
  border-radius: 50%;
  border: 2px solid #999;
  transition: 0.2s all linear;
  position: relative;
    transform: scale(1.3);
}

input[type="radio"]:checked {
  border: 6px solid black;
  outline: unset !important;
}

.toggle-button {
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #a8aaac; /* Default is off */
    color: #3c3c3c;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button:not(:disabled):hover {
    background-color: #a8aaac; /* Default is off */
    transform: scale(1); /* Slightly enlarge on hover */
}

@media (min-width: 1024px) {
.container_init {
  background: #F8F9FD;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
  border-radius: 40px;
  padding: 50px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 20px;

}
}

/*.accesscredentials-input {*/
/*  width: 300px;*/
/*  background: white;*/
/*  border: none;*/
/*  padding: 15px 20px;*/
/*  border-radius: 20px;*/
/*  margin-top: 15px;*/
/*  box-shadow: #cff0ff 0px 10px 10px -5px;*/
/*  border-inline: 2px solid transparent;*/
/*}*/

/*.accesscredentials-input::-moz-placeholder {*/
/*  color: rgb(170, 170, 170);*/
/*}*/

/*.accesscredentials-input::placeholder {*/
/*  color: rgb(170, 170, 170);*/
/*}*/

/*.accesscredentials-input:focus {*/
/*  outline: none;*/
/*  border-inline: 2px solid #12B1D1;*/
/*}*/
